
:root {
  --olive-background-color: #606c38;
  --dark-green-text-color: #283618;
  --orange-button-color: #bc6c25;
  --white-button-text-color: #fefae0;
}
body {
  padding-inline: 3rem !important;
  margin: 0px !important;
  margin-bottom: 2rem !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  padding: 0px !important;
  margin: 0px !important;
  background-color: var(--olive-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.amplify-tabs__item--active {
  border-color: var(--dark-green-text-color) !important; /* Your desired color */
}

.homepage > *, .form > *, .about-this-site > * {
  font-family: 'Montserrat';
  color: var(--dark-green-text-color) !important;
  --amplify-components-heading-color:  var(--dark-green-text-color) !important;
  --amplify-colors-font-secondary: var(--dark-green-text-color) !important;
  --amplify-colors-font-tertiary: var(--dark-green-text-color) !important;
  --amplify-components-field-label-color: var(--dark-green-text-color) !important;
  --amplify-components-fieldcontrol-color: var(--dark-green-text-color) !important;
  --amplify-components-alert-info-color: #fefae0 !important;

  --amplify-components-button-primary-background-color: var(--orange-button-color) !important;
  --amplify-components-alert-info-background-color: var(--orange-button-color) !important;
  --amplify-components-button-primary-hover-background-color: #8d480b !important;

  --amplify-components-fieldcontrol-focus-border-color: var(--dark-green-text-color);

  --amplify-internal-button-background-color: var(--orange-button-color) !important;
  --amplify-internal-button-border-color: var(--orange-button-color) !important;
  --amplify-internal-button-color: var(--orange-button-color) !important;
  --amplify-components-button-outlined-overlay-focus-background-color: var(--orange-button-color) !important;

  --amplify-checkbox-icon-background-color: var(--orange-button-color) !important;
  --amplify-internal-button-background-color: var(--orange-button-color) !important;
  --amplify-internal-button-color: var(--orange-button-color) !important;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.tab-wrapper {
  width: 650px;
  background-color: #e9e6cc;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2rem;
  margin-inline: auto;
}

a {
  color: var(--dark-green-text-color);
}

.amplify-checkbox__icon {
  background-color: var(--orange-button-color) !important;
}

.amplify-button--link {
  color: var(--orange-button-color) !important;
}

.amplify-alert {
  border-radius: 1rem !important;
}

.amplify-alert--success {
  background-color: #5fc080 !important;
  border-radius: 1rem;
}

.amplify-button--link:hover {
  background-color: transparent !important;
}

.amplify-button--primary {
  width: fit-content;
}

.amplify-button:hover {
  background-color: transparent !important;
  color: var(--orange-button-color) !important;
  border-color: var(--orange-button-color) !important;;
}

.form > button {
  width: fit-content;
  color: #fefae0 !important;
}

.amplify-alert__body {
  --amplify-components-heading-color: #fefae0;
}

.primary-button:hover {
  background-color: #be996d !important;
}

.amplify-tabs__list {
  width: fit-content;
  margin-inline: auto;
}

/* MOBILE STYLING */
@media (max-width: 800px) {

  body {
    padding-inline: 1rem !important;
  }

  .homepage {
    max-width: unset;
    min-height: unset !important;
    padding: 10px 15px !important;
  }

  .tab-wrapper {
    width: unset;
  }

  .header-buttons {
    flex-direction: column;
    justify-content: flex-start;
    padding-block: 1rem;
  }

  .header-buttons h2, .header-buttons h3 {
    margin-block: 0rem !important;
  }

  .about-page-link-text {
    font-size: 1rem !important;
  }

  .amplify-tabs span {
    font-size: .9rem !important;
  }

  .amplify-tabs__item {
    padding: .5rem;
  }

  h3 {
    font-size: 1.5rem !important;
  }

  h4 {
    font-size: 1.15rem !important;
  }

}


/* style={{
                marginBottom: "2rem",
                maxWidth: 900,
                minHeight: "75vh",
                margin: "auto",
                padding: 20,
                backgroundColor: "#fefae0",
                boxShadow: "0px 4px 12px rgba(0,0,0,0.1)",
                borderRadius: "1rem",
                color: "var(--dark-green-text-color)",
            }} */